* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #ffffff;
  color: #333;
  padding-top: 70px;
}
#about p {
  max-width: 800px;
  margin: 0 auto 15px;
  line-height: 1.7;
  color: #444;
}


/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.navbar nav a:hover {
  color: #00bcd4;
}

.logo {
  color: #00bcd4;
}
  .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  flex-wrap: wrap;
}

.hero-text h1 span {
  color: #00e5ff;
}

.hero-text p {
  margin: 15px 0;
  font-size: 18px;
}

.buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #00e5ff;
  font-weight: bold;
}

.buttons .outline {
  background: transparent;
  border: 2px solid #00e5ff;
  color: white;
}

.hero-img img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 4px solid #00e5ff;
  object-fit: cover;
}

/* SECTIONS */
.section {
  padding: 60px 10%;
  text-align: center;
}

.section h2 {
  margin-bottom: 30px;
  color: #203a43;
}

.section p {
  max-width: 800px;
  margin: auto;
}

.gray {
  background: #f4f6f8;
}
  
/* SKILLS */
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #f9f9f9;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
}
